/*顶部公共头*/
.top{
	height: 3.5rem;
	/*background: -webkit-linear-gradient(left, #b28bff, #5b25ff); !* Safari 5.1 - 6.0 *!*/
	/*background: -o-linear-gradient(right, #b28bff, #5b25ff); !* Opera 11.1 - 12.0 *!*/
	/*background: -moz-linear-gradient(right,#b28bff, #5b25ff); !* Firefox 3.6 - 15 *!*/
	/*background: linear-gradient(to right,#b28bff, #5b25ff); !* 标准的语法（必须放在最后）*!*/
	border-bottom:1px solid silver;
}
.top>span{
	margin: 0 1rem;
	line-height: 3.5rem;
}
.header{
	color:#fff;
}
.container{
	padding: 0 1rem;
	margin-bottom: 4rem;
	/*background-color: #ecfff0;*/
}



/*底部选项卡*/
.foot-box{
	display: flex;
	display: -webkit-flex; /* Safari */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	padding-top: 0.4rem;
	font-size: 1rem;
	text-align: center;
	box-shadow: 0 -0.2rem 0.5rem #888888;
	background-color: #fff;
}
.foot-box .flex-items{
	flex-grow: 1;
}
.foot-box .flex-items a{
	text-decoration: none;
}
.foot-box .flex-items a:hover{
	color: #8c27ff;
}
.foot-box .flex-items .active{
	color: #8c27ff;
}
.foot-box .flex-items a{
	color: gray;
}
.foot-box .flex-items a>span:first-child{
	font-size: 1.6rem;
}