.header{
	color:#fff;
}
.container{
	padding: 0 1rem;
	margin-bottom: 4rem;
	/*background-color: #ecfff0;*/
}


/*底部选项卡*/
.foot-box{
	display: flex;
	display: -webkit-flex; /* Safari */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	padding-top: 0.4rem;
	font-size: 1rem;
	text-align: center;
	box-shadow: 0 -0.2rem 0.5rem #888888;
	background-color: #fff;
}
.foot-box .flex-items{
	flex-grow: 1;
}
.foot-box .flex-items a{
	text-decoration: none;
}
.foot-box .flex-items a:hover{
	color: #8c27ff;
}
.foot-box .flex-items .active{
	color: #8c27ff;
}
.foot-box .flex-items a{
	color: gray;
}
.foot-box .flex-items a>span:first-child{
	font-size: 1.6rem;
}