/*主页*/
/*头部样式*/
.header{
    width: 100%;
    height: 8rem;
    padding: 0.5rem 1rem;
    background-color: #0074e8;
}
    #loaction{
        margin: 0.6rem 0;
    }
    #loaction > a{
        color: #ffffff;
        text-decoration: none;
    }
    .search{
        text-align: center;
        border-radius: 3.4rem;
    }

  /*活动页  */
.link-pic{
    width: 100%;
    height: 8rem;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    background-color: #007124;
}
/*主体*/
/*导航栏*/
.head-nav{
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 18rem;
}
 .head-nav .flex-items{
     width: 20%;
     font-size: 1rem;
     text-align: center;
     padding-bottom: 2rem;
 }
.head-nav .flex-items a{
    color: #0f0f0f;
    text-decoration:none ;
}
.head-nav .flex-items a>img{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}
.head-nav .flex-items a>div{
    margin-top: 1rem;
}

/*品质套餐、限量抢购*/
.vip-page{
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 0.2rem;
    border: 0.2rem solid #ffdb5d;
    background: -webkit-linear-gradient(left, #ffdb5d, #ffa25d); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ffdb5d, #ffa25d); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#ffdb5d, #ffa25d); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,#ffdb5d, #ffa25d); /* 标准的语法（必须放在最后）*/
}
.vip-page .left>b,.vip-page .right a>b{
    font-size: 1.5rem;
}
.left{
    float: left;
}
.right{
    float: right;
}
.box{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
    height: 16rem;
    width: 100%;
}
.panic-buy{
    width: 49.5%;
    height: 16rem;
    padding: 1rem 1.5rem;
    background-color: #0ff2ff;
}
.panic-buy a>p{
    font-size: 1.2rem;
   margin-top: 0.6rem;
}
.panic-buy a>div{
    width: 60%;
    height: 50%;
    background-color: #fff;
}

.ant-vip{
    height: 4.5rem;
    background-color: #d5ffa3;
}


/*推荐商家*/
.main-box{
    min-height: 32rem;
}
.main-box .box-head{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.main-box .box-nav{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.main-box .box-nav-fix{
    position: fixed;
    top:0;
    margin-top: 3rem;
    z-index: 99;
}
.main-box .box-nav .flex-items{
    float: left;
    width: 24%;
    margin: 0 auto;
    background-color: #fff;
}

.box-content .content-items{
    display: block;
    height: 12rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid gray;
}
.content-items .left{
    height: 10rem;
}
.content-items .right{
    height: 12rem;
}
.content-items img{
    width: 100%;
    height: 100%;
}

/*侧边悬浮按钮*/
.side-float{
    position: fixed;
    width: 5rem;
    height: 8rem;
    padding: 0 1rem 1rem 0;
    bottom: 0;
    right: 0;
    margin-bottom: 6rem;
    /*background-color: #ff5b3b;*/
}
.side-float .side-bar{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem auto;
    padding-top:0.5rem ;
    text-align: center;
    vertical-align: center;
    border-radius: 3rem;
    border: 1px solid red;
    background-color: #fff;
}

/*主页结束*/


/*商家详情*/
/*商家信息*/
.tab-content{
    padding: 0 1rem 0 0;
    margin-bottom: 4rem;
}
.content .shop-message{
    height: 10rem;
    text-align: center;
    line-height: 2rem;
}
.shop-message .img-box{
    width: 4.5rem;
    height: 4.5rem;
    margin: -3.5rem auto 0;
    border-radius: 0.2rem;
    background-color: #fff;
}
.img-box img{
    width: 100%;
    height: 100%;
}
/*底部购物车*/
.det-foot-box{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.det-foot-box .left{
    flex: 1;
    height: 4rem;
    padding-left: 1rem;
    text-align: left;
    background: rgba(34, 10, 29, 0.71);
}
.det-foot-box .left img{
    position: relative;
    top: -1rem;
    width: 4rem;
    height: 4rem;
}
.det-foot-box .right{
    flex: none;
    width: 8rem;
    height: 4rem;
    background: rgba(162, 23, 96, 0.71);
}
